body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: #333333;
  }
  
  button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-image:url("44885_large.jpg");
    height: 75px;
  }
  .logo {
    color:chocolate
  }
  
  .nav {
    display: flex;
    gap: 20px;
  }
  
  .nav a {
    color:chocolate;
    font-weight: bold;
    margin-right: 20px;
  }
  
  .nav a:hover {
    color: #007bff;
  }
  
  /* Hero Section */
  #hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 75px;
    background: #e9ecef;
    height: 75vh;
  }
  .hero-text {
    max-width: 50%;
  }
  
  .hero-image {
    max-width: 50%;
  }
  
  .hero-image img {
    width: 100%;
    max-width: 100%;
    border-radius: 30px;
  }
  
  /* Service */
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 50px;
    background: #f8f9fa;
    text-align: center;
  }
  
  .service {
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  /* Temoignages */
  .temoignages {
    display: flex;
    gap: 20px;
    padding: 50px;
    background: #e9ecef;
  }
  
  .temoignage {
    flex: 1;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  /* Footer */
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background-color: #343e40;
    color: #fff;
  }
  
  .footer a {
    color: #fff;
  }
  